#request-app.container
  %h1 Requests
  %button.new-request.btn.btn-primary.fixed-width New Request
  %table#request-list.table
    %thead
      %tr
        %th{width: "55%"} Summary
        %th{width: "20%"} Date created
        %th{width: "15%"} Scope
        %th{width: "10%"}
    %tbody