#request-app.container
  %h1 Requests
  %button.new-request.btn.btn-primary.fixed-width New Request
  %form.form-inline.pull-right
    .row_fluid
      %label{for: :filter_scope} Filter by scope: 
      %select#filter_scope
        %option
        - @scopes.each do |s|
          %option{value: s.id}
            = s.name
  %table#request-list.table
    %thead
      %tr
        %th{width: "55%"} Summary
        %th{width: "20%"} Date created
        %th{width: "15%"} Scope
        %th{width: "10%"}
    %tbody